


header {
	max-width: 850px;
	margin:0px auto;
	background-color: #fa6a6a;
	border: 4px inset #ecf0f1;
	border-radius: 15px;
	font-family: serif; 
	text-align: right; 
    height: 154px;
    box-shadow: 0px 5px 40px 0px #aaa;


}

address{

	padding:20px 20px 0px 0px;
	color: #ecf0f1;
	font-size: 20px;
	
}

nav { 
	max-width: 850px;
	margin:5px auto;
	border-radius: 6px;
	border: #ecf0f1;
    text-decoration: none;
    background-color: #2980b9;
    box-shadow: 0px 5px 40px 0px #aaa;


}

a.Navigation{
    padding-left: 14px;  

}

a.Navigation:hover{
	color: #b8eda4	;
	transition: 0.3s ease;
	font-size: 18px;

}

body{
	background-color: #2c3e50;
}

p {
	width: 100%;
	text-align: fantasy, serif, sans-serif;
	text-indent: 30px;
	padding:0px auto;


}

h3{
	text-shadow:  5px 2px 3px #aaa;
	text-align: center;
}

h4{
	text-align: center;
}


section{
	display: flex;
	max-width: 850px;
	width: 100%;
	flex-direction: column;
	box-shadow: 0px 5px 40px 0px #aaa;


}

article {
    padding: 0px auto;
    margin: 0px auto;
    font-family: serif, fantasy, sans-serif;
    width:45%;
    line-height: 20px;
}


footer {
	max-width: 850px;
	margin:5px auto ;
	font-size: 16px;
	border-radius: 6px;
	border: 4px outset #ecf0f1 ;
	text-align: center;
	color: #fff;
	font-weight: bold;
	box-shadow: 0px 5px 40px 0px #aaa;
	background-color: #fa6a6a;

}


button{
	margin-left: 50px;
	background-color: #2980b9;
	color: white;


}

button:hover{
	color: #2980b9;
	transition: 0.3s ease;
	background-color: #b8eda4;

}



img{
	border-radius: 50%;
	border:2px solid #5D5D5D;
	float: left;
	margin:5px auto 5px 10px ;
	
}

img.ict{
	border-radius: 15%;
	border:2px solid #5D5D5D;
	margin:15px 15px 15px 15px;
	

}

img.screenshot{
	margin: 17px 17px 17px 17px;
	border-radius: 15px;
	border:2px solid #5D5D5D;
	opacity: 0.7;
	
}

img.screenshot:hover{
	opacity: 1;
	
}



span{
	font-size: 25px;
	background-color: transparent;
}

.reading{
	color: #fa6a6a;
	font-family: serif;
	font-weight: bold;
	font-size: 19px;
	text-decoration: none;

}


div.container{
	max-width: 850px;
	margin:0px auto;
	display: flex;
	flex-direction: row;
	background-color: #ffd;
}


a.Navigation {
	color: #fff;
	text-decoration: none;
	font-family: serif;
	
}
	
div.Row{
	display:flex;
	flex-direction: row;
	width: 100%;
	

}

div.Row2{

	display:flex;
	flex-direction: row;
	width: 95%;
	padding: 10px;

}

div.Row2 article{
	width: 100%;

}

div.screenshot{
	display: block;
	margin: 20px 25px 20px 25px;
	background-color: #ffd;
}


     /*Tablets (portrait and landscape)*/
@media (min-width : 500px)  and (max-width : 1024px) {
		
		img{
		border-radius: 50%;
	    border:2px solid #5D5D5D;
	    float: left;
	    margin:5px auto 5px 10px ;
	}

	address{
		font-size: 16px;
	}

	img.ict{
	   width:23%;
	   border-radius: 12%;
	   border:2px solid #5D5D5D;
	   margin:12px 12px 12px 12px;
	}


	img.screenshot{
		margin:15px auto auto 15px;
     
    	width: 30%;
		
	}


    nav{

    	font-size: 13px;
    }

	
	article {
    	
        padding: 0px auto;     
		width:47%;
		line-height: 1.35em;
		font-size: 12px;
	}

	div.Row{
		width: 97%;
	}

	div.Row2{
		width: 95%;
	}

	p {
	
	padding:0px auto;
	text-indent: 20px;
    }

	footer{
		font-size: 13px;
	}

	span{
        font-size: 20px;

	}

	button{
		display:none;
	}


	.reading{
		font-size: 13px;

	}


    }


	/* Smartphones (portrait and landscape)*/
@media (max-width : 500px) {

	header{
		height: 105px;

	}

	img{
		margin: 0px;
		width:40%;
		height: 102px;
		border-radius: 10px;
		 flex-direction: left;
	}

	img.ict{
		width: 50%;
		height: 80px;
		margin:	auto;
     	margin-bottom: 7px;
	}


	img.screenshot{
		margin:3px auto auto 3px;
		width: 45%;
		height: 80px;
		

	}

	address{
		
		font-size: 16px;

			}

    nav{

    	font-size: 13px;
    }

    a.Navigation:hover{
	color: #b8eda4	;
	transition: 0.3s ease;
	font-size: 14px;

    }

	div.container {
		flex-direction: column;
	}



	article {
	    padding: 0px auto;     
		width:40%;
		line-height: 1.35em;
		font-size: 12px;
	}

	
	 p {
	   padding:0px auto;
	   text-indent: 20px;
	}


	footer{
		font-size: 13px;
	}

	span{
        font-size: 20px;

	}

	button{
		display: none;
	}

	.reading{
		font-size: 13px;

	}



    
    }

	
	
